<!DOCTYPE html>
<html>
  <head>
    <title>BananaApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>BANANA APP</h1>
    <hr>

    <%= yield %>

    <hr>
    <p>Created with love in Batch 605 ❤</p>
  </body>
</html>
